*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: block;
    /* background: linear-gradient(to right, #E7F6F7, #9FE5FB) */
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.colorValue{
    font-size: 40px;
}

h1{
    color: black;
    font-size: 50px;
}
.sub-title{
    color: black;
    font-size: 30px;
}